<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {{>navbar}}

    <main>
        {{{body}}}
    </main>
    {{>footer
    text="este es mi footer2"
    year="2024"
    }}
</body>

</html>